h1 {
    text-align: center;
}

img {
    height: auto;
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3%;
    max-width: auto;
    margin: 0 auto;
}

.item {
    outline: 1px solid black;
}

.item img {
    max-width: 100%;
    height: auto;
}